.btnEditar{
    color: rgba(32, 44, 68, 0.705);
    cursor: pointer;
    margin-right: 2px;
}

.btnVisualizar{
    color: rgba(32, 44, 68, 0.705);
    cursor: pointer;
}

.btnExcluir{
    color: rgba(255, 0, 0, 0.705);
    cursor: pointer;
}

.btnCronologia{
    color: #004936;
    cursor: pointer;
}

.btnImprimir{
    color: rgba(32, 44, 68, 0.705);
    cursor: pointer;
}

.btnReclamacoes {
    cursor: pointer;
}

.imagemPromocao{
    border: solid px;
    border-radius: 10px;
}