<a *ngIf="botoesAgGrid.btnVisualizar" class="mr-2" (click)="atribuirParaVisualizar()">
    <i class="btnVisualizar fas fa-eye fa-md" aria-hidden="true"></i>
</a>

<a *ngIf="botoesAgGrid.btnEditar" class="mr-2" (click)="atribuirParaEditar()">
    <i class="btnEditar fas fa-pencil-alt fa-md" aria-hidden="true"></i>
</a>

<a *ngIf="botoesAgGrid.btnExcluir" class="mr-2" (click)="excluir()">
    <i class="btnExcluir fa fa-trash fa-md" aria-hidden="true"></i>
</a>

<a *ngIf="botoesAgGrid.btnCronologia" class="mr-2" (click)="atribuirParaVisualizarCronologia()">
    <i class="btnCronologia fas fa-clock fa-md" aria-hidden="true"></i>
</a>