.alerta-sem-acesso {
    margin-left: 28px;
    font-size: 12px;
    background-color: #7e2421;
    border-radius: 12px;
    margin-right: 28px;
    padding: 15px;
    color: #e3e3e3;
}

.pcoded-user-caption {
    background-color: #131b21;
}

.pcoded-user-caption .div-imagem {
    display: flex;
    justify-content: left;
    position: relative;
    width: 100%;
    padding-left: 35%;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 15px;
    cursor: pointer;

    &:hover {
        .div-content-foto .icone {
            transition-duration: 200ms;
            padding: 7px;
        }
    }
}

.div-content-foto .icone {
    position: absolute;
    display: flex;
    justify-self: flex-end;

    transition-duration: 200ms;
    background-color: #004936;
    border-radius: 15px;
    padding: 5px;
    color: white;
    font-size: 10px;

    border: solid 2px #131b21;
}

.pcoded-user-caption .div-imagem img {
    transition-duration: 200ms;
    width: 80px;
    border-radius: 50px !important;
}
