.bg-image {
    // background-image: url("../../../../../assets/images/fondo_login.jpg");
    background-color: #131b21;
    background-size: cover;
    background-position: center center;
    // img {
    //     width: 285px;
    //     height: 250px;
    // }
}
