<!-- <div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-4 d-none d-md-flex bg-image justify-content-center align-items-center">
            <div class="col-md-12">
                <div class="col-md-12">
                    <img src="" alt="logo">
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-6 d-none d-md-flex bg-image justify-content-center align-items-center">
            <img src="../../../../terra-nobre/assets/images/logo-terra-nobre-login.png" alt="logo-terra-nobre">
        </div>
        <div class="col-md-6 bg-light">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>