<app-breadcrumb [items]="setarBreadcrumb()"></app-breadcrumb>

<app-card [hidHeader]="true" cardTitle="Região" [options]="true">
    <nav ngbNav #nav="ngbNav" class="nav-tabs">
        <ng-container ngbNavItem [destroyOnHide]="false">
            <a ngbNavLink>
                <i class="fas fa-home"></i>
                Imóvel
            </a>
            <ng-template ngbNavContent>
                <form [formGroup]="formulario.controls.imovel">
                    <div class="mt-2 form-row">
                        <div class="form-group col-md-6">
                            <label for="vendedor">Vendedor</label>
                            <input formControlName="vendedor" type="text" id="vendedor" class="form-control">
                            <div *ngIf="formulario.get('imovel').get('vendedor').invalid && formulario.get('imovel').get('vendedor').touched && formulario.get('imovel').get('vendedor').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="numero">Numero</label>
                            <input formControlName="numero" type="text" id="numero" class="form-control">
                            <div *ngIf="formulario.get('imovel').get('numero').invalid && formulario.get('imovel').get('numero').touched && formulario.get('imovel').get('numero').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="quadra">Quadra</label>
                            <input formControlName="quadra" type="text" id="quadra" class="form-control">
                            <div *ngIf="formulario.get('imovel').get('quadra').invalid && formulario.get('imovel').get('quadra').touched && formulario.get('imovel').get('quadra').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="area">Area</label>
                            <input formControlName="area" type="text" id="area" class="form-control">
                            <div *ngIf="formulario.get('imovel').get('area').invalid && formulario.get('imovel').get('area').touched && formulario.get('imovel').get('area').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="cidade">Cidade</label>
                            <ng-select [items]="arrayCidades" bindLabel="nome"
                                notFoundText="Nenhum resultado encontrado!" bindValue="nome" formControlName="cidade"
                                placeholder="Selecionar">
                            </ng-select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="metragem">Metragem</label>
                            <input formControlName="metragem" type="text" id="metragem" class="form-control">
                            <div *ngIf="formulario.get('imovel').get('metragem').invalid && formulario.get('imovel').get('metragem').touched && formulario.get('imovel').get('metragem').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                    </div>
                </form>
            </ng-template>
        </ng-container>
        <ng-container ngbNavItem [destroyOnHide]="false">
            <a ngbNavLink>
                <i class="fas fa-user"></i>
                Comprador
            </a>
            <ng-template ngbNavContent>
                <form [formGroup]="formulario.controls.comprador">
                    <div class="mt-2 form-row">
                        <div class="form-group col-md-5">
                            <label for="nome">Nome</label>
                            <input formControlName="nome" type="text" id="nome" class="form-control">
                            <div *ngIf="formulario.get('comprador').get('nome').invalid && formulario.get('nome').get('nome').touched && formulario.get('comprador').get('nome').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="rg">RG</label>
                            <input formControlName="rg" type="text" id="rg" class="form-control">
                            <div *ngIf="formulario.get('comprador').get('rg').invalid && formulario.get('comprador').get('rg').touched && formulario.get('comprador').get('rg').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="orgaoEmissor">Orgao emissor</label>
                            <input formControlName="orgaoEmissor" type="text" id="orgaoEmissor" class="form-control">
                            <div *ngIf="formulario.get('comprador').get('orgaoEmissor').invalid && formulario.get('comprador').get('orgaoEmissor').touched && formulario.get('comprador').get('orgaoEmissor').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="dataExpedicao">Data expedição</label>
                            <input formControlName="dataExpedicao" mask="d0/M0/0000" type="text" id="dataExpedicao"
                                class="form-control">
                            <div *ngIf="formulario.get('comprador').get('dataExpedicao').invalid && formulario.get('comprador').get('dataExpedicao').touched && formulario.get('comprador').get('dataExpedicao').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="profissao">Profissao</label>
                            <input formControlName="profissao" type="text" id="profissao" class="form-control">
                            <div *ngIf="formulario.get('comprador').get('profissao').invalid && formulario.get('comprador').get('profissao').touched && formulario.get('comprador').get('profissao').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="cpf">CPF</label>
                            <input formControlName="cpf" mask="000.000.000-00" type="text" id="cpf"
                                class="form-control">
                            <div *ngIf="formulario.get('comprador').get('cpf').invalid && formulario.get('comprador').get('cpf').touched && formulario.get('comprador').get('cpf').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="Nacionalidade">Nacionalidade</label>
                            <ng-select [items]="arrayNacionalidade" bindLabel="descricao"
                                notFoundText="Nenhum resultado encontrado!" bindValue="descricao"
                                formControlName="nacionalidade" placeholder="Selecionar">
                            </ng-select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telefone">Telefone principal</label>
                            <input formControlName="telefone" type="text" id="telefone" class="form-control">
                            <div *ngIf="formulario.get('comprador').get('telefone').invalid && formulario.get('comprador').get('telefone').touched && formulario.get('comprador').get('telefone').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="sexo">Sexo</label>
                            <ng-select [items]="arraySexo" bindLabel="descricao"
                                notFoundText="Nenhum resultado encontrado!" bindValue="descricao" formControlName="sexo"
                                placeholder="Selecionar">
                            </ng-select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="sexo">Estado civil</label>
                            <ng-select [items]="arrayEstadoCivil" bindLabel="descricao"
                                notFoundText="Nenhum resultado encontrado!" bindValue="descricao"
                                formControlName="estadoCivil" placeholder="Selecionar">
                            </ng-select>
                        </div>
                        <div *ngIf="this.formulario.value.comprador.estadoCivil == 'Casado(a)'"
                            class="form-group col-md-4">
                            <label for="regimeCasamento">Regime casamento</label>
                            <ng-select [items]="arrayRegimeCasamento" bindLabel="descricao"
                                notFoundText="Nenhum resultado encontrado!" bindValue="descricao"
                                formControlName="regimeCasamento" placeholder="Selecionar">
                            </ng-select>
                        </div>
                        <div [ngClass]="{'col-md-5': this.formulario.value.comprador.estadoCivil == 'Casado(a)', 'col-md-9': this.formulario.value.comprador.estadoCivil != 'Casado(a)'}"
                            class="form-group">
                            <label for="email">Email</label>
                            <input formControlName="email" type="text" id="email" class="form-control">
                            <div *ngIf="formulario.get('comprador').get('email').invalid && formulario.get('comprador').get('email').touched && formulario.get('comprador').get('email').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="dataNascimento">Data nascimento</label>
                            <input formControlName="dataNascimento" mask="d0/M0/0000" type="text" id="dataNascimento"
                                class="form-control">
                            <div *ngIf="formulario.get('comprador').get('dataNascimento').invalid && formulario.get('comprador').get('dataNascimento').touched && formulario.get('comprador').get('dataNascimento').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                    </div>
                </form>
                <form [formGroup]="formulario.controls.comprador.controls.endereco">
                    <div class="mt-2 form-row">
                        <div class="form-group col-md-6">
                            <label for="logradouro">Logradouro</label>
                            <input formControlName="logradouro" type="text" id="logradouro" class="form-control">
                            <div *ngIf="formulario.get('comprador').get('endereco').get('logradouro').invalid && formulario.get('comprador').get('endereco').get('logradouro').touched && formulario.get('comprador').get('endereco').get('logradouro').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="bairro">Bairro</label>
                            <input formControlName="bairro" type="text" id="bairro" class="form-control">
                            <div *ngIf="formulario.get('comprador').get('endereco').get('bairro').invalid && formulario.get('comprador').get('endereco').get('bairro').touched && formulario.get('comprador').get('endereco').get('bairro').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="numero">Numero</label>
                            <input formControlName="numero" type="text" id="numero" class="form-control">
                            <div *ngIf="formulario.get('comprador').get('endereco').get('numero').invalid && formulario.get('comprador').get('endereco').get('numero').touched && formulario.get('comprador').get('endereco').get('numero').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="complemento">Complemento</label>
                            <input formControlName="complemento" type="text" id="complemento" class="form-control">
                            <div *ngIf="formulario.get('comprador').get('endereco').get('complemento').invalid && formulario.get('comprador').get('endereco').get('complemento').touched && formulario.get('comprador').get('endereco').get('complemento').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="cep">CEP</label>
                            <input formControlName="cep" mask="00000-000" (blur)="buscarCep()" type="text" id="cep"
                                class="form-control">
                            <div *ngIf="formulario.get('comprador').get('endereco').get('cep').invalid && formulario.get('comprador').get('endereco').get('cep').touched && formulario.get('comprador').get('endereco').get('cep').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="cidade">Cidade</label>
                            <input formControlName="cidade" type="text" id="cidade" class="form-control">
                            <div *ngIf="formulario.get('comprador').get('endereco').get('cidade').invalid && formulario.get('comprador').get('endereco').get('cidade').touched && formulario.get('comprador').get('endereco').get('cidade').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="uf">UF</label>
                            <input formControlName="uf" type="text" id="uf" class="form-control">
                            <div *ngIf="formulario.get('comprador').get('endereco').get('uf').invalid && formulario.get('comprador').get('endereco').get('uf').touched && formulario.get('comprador').get('endereco').get('uf').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                    </div>
                </form>
                <form *ngIf="this.formulario.value.comprador.estadoCivil == 'Casado(a)'"
                    class="row p-3 card-conjuge mb-3" style="background-color: #f3f3f3;"
                    [formGroup]="formulario.controls.comprador.controls.conjuge">
                    <div class="col-md-12">
                        <h6 style="color: #707070;">Conjuge</h6>
                        <hr>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="nome">Nome</label>
                        <input formControlName="nome" type="text" id="nome" class="form-control">
                        <div *ngIf="formulario.get('comprador').get('conjuge').get('nome').invalid && formulario.get('comprador').get('conjuge').get('nome').touched && formulario.get('comprador').get('conjuge').get('nome').errors['required']"
                            class="text-danger-input">
                            <i class="far fa-times-circle"></i> Campo obrigatório
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="rg">RG</label>
                        <input formControlName="rg" type="text" id="rg" class="form-control">
                        <div *ngIf="formulario.get('comprador').get('conjuge').get('rg').invalid && formulario.get('comprador').get('conjuge').get('rg').touched && formulario.get('comprador').get('conjuge').get('rg').errors['required']"
                            class="text-danger-input">
                            <i class="far fa-times-circle"></i> Campo obrigatório
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="rg">CPF</label>
                        <input formControlName="rg" mask="000.000.000-00" type="text" id="rg" class="form-control">
                        <div *ngIf="formulario.get('comprador').get('conjuge').get('cpf').invalid && formulario.get('comprador').get('conjuge').get('cpf').touched && formulario.get('comprador').get('conjuge').get('cpf').errors['required']"
                            class="text-danger-input">
                            <i class="far fa-times-circle"></i> Campo obrigatório
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="profissao">Profissao</label>
                        <input formControlName="profissao" type="text" id="profissao" class="form-control">
                        <div *ngIf="formulario.get('comprador').get('conjuge').get('profissao').invalid && formulario.get('comprador').get('conjuge').get('profissao').touched && formulario.get('comprador').get('conjuge').get('profissao').errors['required']"
                            class="text-danger-input">
                            <i class="far fa-times-circle"></i> Campo obrigatório
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="dataNascimento">Data nascimento</label>
                        <input formControlName="dataNascimento" mask="d0/M0/0000" type="text" id="dataNascimento"
                            class="form-control">
                        <div *ngIf="formulario.get('comprador').get('conjuge').get('dataNascimento').invalid && formulario.get('comprador').get('conjuge').get('dataNascimento').touched && formulario.get('comprador').get('conjuge').get('dataNascimento').errors['required']"
                            class="text-danger-input">
                            <i class="far fa-times-circle"></i> Campo obrigatório
                        </div>
                    </div>
                    <div class="form-group col-md-9">
                        <label for="email">Email</label>
                        <input formControlName="email" type="text" id="email" class="form-control">
                        <div *ngIf="formulario.get('comprador').get('conjuge').get('email').invalid && formulario.get('comprador').get('conjuge').get('email').touched && formulario.get('comprador').get('conjuge').get('email').errors['required']"
                            class="text-danger-input">
                            <i class="far fa-times-circle"></i> Campo obrigatório
                        </div>
                    </div>
                </form>
                <div class="d-flex justify-content-end">
                    <button *ngIf="!atualizandoComprador" class="btn btn-success btn-sm mb-3"
                        (click)="adicionarComprador()">
                        <i class="icon feather icon-check-circle"></i>
                        Adicionar
                    </button>
                    <button *ngIf="atualizandoComprador" class="btn btn-success btn-sm mb-3"
                        (click)="atualizarComprador()">
                        <i class="icon feather icon-check-circle"></i>
                        Atualizar
                    </button>
                    <button *ngIf="atualizandoComprador" class="btn btn-danger btn-sm mb-3 ml-2"
                        (click)="cancelarEdicaoComprador()">
                        <i class="icon feather icon-check-circle"></i>
                        Cancelar
                    </button>
                </div>

                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">CPF</th>
                            <th scope="col">Nascimento</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let comprador of arrayCompradores; let indexComprador = index">
                            <td>{{indexComprador + 1}}</td>
                            <td>{{comprador.nome}}</td>
                            <td>{{comprador.cpf}}</td>
                            <td>{{comprador.dataNascimento}}</td>
                            <td>
                                <a class="mr-2" (click)="atribuirParaEditarComprador(comprador, indexComprador)">
                                    <i class="btnEditar fas fa-pencil-alt fa-md" aria-hidden="true"></i>
                                </a>
                                <a class="mr-2" (click)="excluirComprador(indexComprador)">
                                    <i class="btnExcluir fa fa-trash fa-md" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        <tr *ngIf="arrayCompradores.length <= 0">
                            <td colspan="5">Compradores não cadastrados...</td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </ng-container>
        <ng-container ngbNavItem [destroyOnHide]="false">
            <a ngbNavLink>
                <i class="fas fa-money-bill-wave"></i>
                Valores
            </a>
            <ng-template ngbNavContent>
                <form [formGroup]="formulario.controls.valores">
                    <div class="mt-2 form-row">
                        <div class="form-group col-md-4">
                            <label for="valorContrato">Valor contrato</label>
                            <input currencyMask formControlName="valorContrato" type="text" id="valorContrato"
                                class="form-control" (blur)="calcularValorFinanciamento()">
                            <div *ngIf="formulario.get('valores').get('valorContrato').invalid && formulario.get('valores').get('valorContrato').touched && formulario.get('valores').get('valorContrato').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="valorEntrada">Valor entrada</label>
                            <input currencyMask formControlName="valorEntrada" type="text" id="valorEntrada"
                                class="form-control" (blur)="calcularValorFinanciamento()">
                            <div *ngIf="formulario.get('valores').get('valorEntrada').invalid && formulario.get('valores').get('valorEntrada').touched && formulario.get('valores').get('valorEntrada').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="valorFinanciamento">Valor financeiamento</label>
                            <input formControlName="valorFinanciamento" currencyMask type="text" [readonly]="true"
                                id="valorFinanciamento" class="form-control">
                            <div *ngIf="formulario.get('valores').get('valorFinanciamento').invalid && formulario.get('valores').get('valorFinanciamento').touched && formulario.get('valores').get('valorFinanciamento').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>

                        <div style="background-color: #f3f3f3; margin-left: 5px; margin-right: 5px;"
                            class="row col-md-12 pl-1 pr-1 pt-3 pb-3 mb-3">
                            <div class="col-md-12">
                                <h6 style="color: #707070;">Financianento</h6>
                                <hr>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="valorFinanciamento">Valor financeiamento</label>
                                <input formControlName="valorFinanciamento" currencyMask type="text" [readonly]="true"
                                    id="valorFinanciamento" class="form-control">
                                <div *ngIf="formulario.get('valores').get('valorFinanciamento').invalid && formulario.get('valores').get('valorFinanciamento').touched && formulario.get('valores').get('valorFinanciamento').errors['required']"
                                    class="text-danger-input">
                                    <i class="far fa-times-circle"></i> Campo obrigatório
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="quantidadeParcelaFinanciamento">Quantidade parcela</label>
                                <input formControlName="quantidadeParcelaFinanciamento" type="number" id="quantidadeParcelaFinanciamento"
                                    class="form-control" (blur)="calcularValorFinanciamento()">
                                <div *ngIf="formulario.get('valores').get('quantidadeParcelaFinanciamento').invalid && formulario.get('valores').get('quantidadeParcelaFinanciamento').touched && formulario.get('valores').get('quantidadeParcelaFinanciamento').errors['required']"
                                    class="text-danger-input">
                                    <i class="far fa-times-circle"></i> Campo obrigatório
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="primeiroVencimento">1º vencimento</label>
                                <input mask="d0/M0/0000" [dropSpecialCharacters]="false"
                                    formControlName="primeiroVencimento" type="text" id="primeiroVencimento"
                                    class="form-control">
                                <div *ngIf="formulario.get('valores').get('primeiroVencimento').invalid && formulario.get('valores').get('primeiroVencimento').touched && formulario.get('valores').get('primeiroVencimento').errors['required']"
                                    class="text-danger-input">
                                    <i class="far fa-times-circle"></i> Campo obrigatório
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="valorParcelaFinanciamento">Valor parcela financeiamento</label>
                                <input formControlName="valorParcelaFinanciamento" currencyMask type="text" [readonly]="true"
                                    id="valorFinanciamento" class="form-control">
                                <div *ngIf="formulario.get('valores').get('valorParcelaFinanciamento').invalid && formulario.get('valores').get('valorParcelaFinanciamento').touched && formulario.get('valores').get('valorParcelaFinanciamento').errors['required']"
                                    class="text-danger-input">
                                    <i class="far fa-times-circle"></i> Campo obrigatório
                                </div>
                            </div>
                        </div>

                        <div style="background-color: #f3f3f3; margin-left: 5px; margin-right: 5px;"
                            class="row col-md-12 pl-1 pr-1 pt-3 pb-3">
                            <div class="col-md-12">
                                <h6 style="color: #707070;">Parcelamento entrada</h6>
                                <hr>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="valorEntrada">Valor entrada</label>
                                <input [readOnly]="true"
                                    [value]="formulario.value.valores.valorEntrada | currency:'BRL'" type="text"
                                    id="valorEntrada" class="form-control">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="quantidadeParcela">Quantidade parcela</label>
                                <input formControlName="quantidadeParcela" type="number" id="quantidadeParcela"
                                    class="form-control">
                                <div *ngIf="formulario.get('valores').get('quantidadeParcela').invalid && formulario.get('valores').get('quantidadeParcela').touched && formulario.get('valores').get('quantidadeParcela').errors['required']"
                                    class="text-danger-input">
                                    <i class="far fa-times-circle"></i> Campo obrigatório
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="dataVencimentoSinal">Data vencimento sinal</label>
                                <input mask="d0/M0/0000" [dropSpecialCharacters]="false"
                                    formControlName="dataVencimentoSinal" type="text" id="dataVencimentoSinal"
                                    class="form-control">
                                <div *ngIf="formulario.get('valores').get('dataVencimentoSinal').invalid && formulario.get('valores').get('dataVencimentoSinal').touched && formulario.get('valores').get('dataVencimentoSinal').errors['required']"
                                    class="text-danger-input">
                                    <i class="far fa-times-circle"></i> Campo obrigatório
                                </div>
                            </div>
                            <div class="form-group col-md-2" style="margin-top: 30px;">
                                <button class="btn btn-success btn-sm" (click)="gerarParcelas()">
                                    <i class="icon feather icon-check-circle"></i>
                                    Gerar
                                </button>
                            </div>

                            <table class="table table-striped table-sm ml-3 mr-3" [formGroup]="formularioParcela">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col">Vencimento</th>
                                        <th scope="col">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let parcela of arrayParcelas; let indexParcela = index">
                                        <td>{{indexParcela + 1}}</td>
                                        <td [hidden]="parcela.editarParcela">{{parcela.valor | currency:'BRL'}}</td>
                                        <td [hidden]="!parcela.editarParcela"
                                            class="input-group-sm inputsEdicaoParcelas show" formArrayName="valor">
                                            <input class="form-control" type="text" currencyMask
                                                [formControlName]="indexParcela" />
                                        </td>
                                        <td [hidden]="parcela.editarParcela">{{parcela.vencimento}}</td>
                                        <td [hidden]="!parcela.editarParcela"
                                            class="input-group-sm inputsEdicaoParcelas show" formArrayName="vencimento">
                                            <input class="form-control" type="text" [formControlName]="indexParcela"
                                                #dataVencimentoParcela />
                                        </td>
                                        <td [hidden]="parcela.editarParcela">
                                            <a class="mr-2" (click)="atribuirParaEditarParcela(indexParcela)">
                                                <i class="btnEditar fas fa-pencil-alt fa-md" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td [hidden]="!parcela.editarParcela">
                                            <a (click)="finalizarEdicaoParcela(indexParcela)"
                                                class="botoesTabelaParcela">
                                                <i class="fa fa-check-circle"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr *ngIf="arrayParcelas.length <= 0">
                                        <td colspan="4">Parcelas não cadastrados...</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </ng-template>
        </ng-container>
    </nav>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

    <div class="mt-2 d-flex justify-content-end" style="background-color: #f3f3f3; padding: 15px;">
        <button class="btn btn-success btn-sm" (click)="gerarProposta()">
            <i class="icon feather icon-check-circle"></i>
            Imprimir
        </button>
    </div>

</app-card>