.btnEditar {
    color: rgba(32, 44, 68, 0.705);
    cursor: pointer;
    margin-right: 2px;
}

.btnExcluir {
    color: rgba(255, 0, 0, 0.705);
    cursor: pointer;
}

.card-conjuge {
    margin: 1px;
}

.inputsEdicaoParcelas {
    max-width: 20px;
}

.botoesTabelaParcela{
    color: #ff4b00d9;
    cursor: pointer;
}
