.login {
    min-height: 100vh;
}

.esqueceu-senha > a {
    font-size: 14px !important;
    color: #af0009;
}

input[type="email"] {
    font-size: 14px !important;
    height: 44px !important;
}

input[type="password"] {
    font-size: 14px !important;
    height: 44px !important;
}

.btn-danger {
    background-color: #004936;
    border-color: #004936;
}

.btn-danger:hover,
.btn-danger:checked,
.btn-danger:active {
    background-color: #004936 !important;
    border-color: #004936 !important;
}

.text-danger {
    color: #a3020a !important;
}

.bg-light {
    background-color: #efefef !important;
}

.card-formulario {
    background-color: white;
    border-radius: 15px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #ce000a;
    border-color: #ce000a;
}

.text-fazer-login {
    color: #004936;
    font-family: "Lexend", sans-serif;
    font-size: 3.5rem;
    font-weight: none !important;
}
