<app-breadcrumb [items]="setarBreadcrumb()"></app-breadcrumb>

<app-card [hidHeader]="true" cardTitle="Região" [options]="true">
    <nav ngbNav #nav="ngbNav" class="nav-tabs">
        <ng-container ngbNavItem [destroyOnHide]="false">
            <a ngbNavLink>
                <i class="fas fa-user"></i>
                Usuário
            </a>
            <ng-template ngbNavContent>
                <form [formGroup]="formulario">
                    <div class="mt-2 form-row">
                        <div class="form-group col-md-6">
                            <label for="nome">Nome</label>
                            <input formControlName="nome" type="text" id="nome" class="form-control">
                            <div *ngIf="formulario.get('nome').invalid && formulario.get('nome').touched && formulario.get('nome').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input formControlName="email" type="text" id="email" class="form-control">
                            <div *ngIf="formulario.get('email').invalid && formulario.get('email').touched && formulario.get('email').errors['required']"
                                class="text-danger-input">
                                <i class="far fa-times-circle"></i> Campo obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="clientes">Função</label>
                            <ng-select [items]="arrayRole" bindLabel="descricao" notFoundText="Nenhum resultado encontrado!"
                                bindValue="valor" formControlName="role" placeholder="Selecionar">
                            </ng-select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Status">Status</label>
                            <ng-select [items]="arrayStatus" bindLabel="descricao"
                                notFoundText="Nenhum resultado encontrado!" bindValue="valor" formControlName="ativo"
                                placeholder="Selecionar">
                            </ng-select>
                        </div>
                    </div>
                </form>
            </ng-template>
        </ng-container>
        <ng-container ngbNavItem [destroyOnHide]="false">
            <a ngbNavLink>
                <i class="fas fa-lock"></i>
                Nivel de acesso
            </a>
            <ng-template ngbNavContent>

            </ng-template>
        </ng-container>
        <ng-container ngbNavItem [destroyOnHide]="false">
            <a ngbNavLink>
                <i class="fas fa-info-circle"></i>
                Alterar senha
            </a>
            <ng-template ngbNavContent>

            </ng-template>
        </ng-container>
    </nav>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

    <div class="mt-2 d-flex justify-content-start">

        <button class="btn btn-success btn-sm" (click)="submitFormulario()">
            <i class="icon feather icon-check-circle"></i>
            {{textoBotaoFormulario}}
        </button>
    </div>

</app-card>